
.canvas {
    width: 400px;
    height: 400px;
    display: flow;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

box {
    width: 50px;
    height: 50px;
}

.box_a box {
    width: 50px;
    height: 50px;
    background-color: chocolate;
}

.box_b box {
    width: 50px;
    height: 50px;
    background-color: darkgreen;
}